{% extends 'base.html' %}

{% block app_content %}
    <div class="frame">
        <h1>Введите ваше имя.</h1>
        <form action="" method="post" class="entry_form">
            {{ form.csrf_token }}

            {{ form.username.label }}
            {{ form.username }}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}

            {{ form.submit(class_="btn btn-primary") }}
        </form>
        <a class="btn btn-primary" href="{{ url_for('index') }}">На главную</a>
    </div>
{% endblock %}